@tailwind base;
@tailwind components;
@tailwind utilities;

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: visby-regular;
}

@font-face {
  font-family: visby-regular;
  src: url('./Assets/Font/Fontspring-DEMO-visbycf-regular.otf');
}

.visbyRegular{
  font-family: visby-regular;
}